$delay: 0s;
.messages-container {

  & .messages {
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 360px;
    background-color: #EBF7FF;
    overflow-y: scroll;
    position: relative;

    & .pinned-message {
      z-index: 1;
      min-height: 40px;
      max-height: 40px;
      width: 360px;
      background-color: white;
      position: sticky;
      top: 0;
      padding: 8px 4px;

      & img {
        margin-top: 4px;
        margin-right: 2px;
      }
    }

    & .new-message {
      cursor: pointer;
      padding: 4px 5px;
      position: sticky;
      bottom: 35px;
      left: 39%;
      font-size: 8px;
      border-radius: 16px;
      background-color: white;
      height: 20px;
      width: 65px;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);

      &:hover {
        background-color: lightgray;
      }
    }

    & .received-msg {
      background-color: white;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;

      &:before {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        border-left: 15px solid transparent;
        border-right: 10px solid white;
        border-top: 8px solid white;
        border-bottom: 0 solid transparent;
        left: -5px;
        top: 0;
      }
    }

    & .delay-msg{
      animation: fadeIn 0.5s ease forwards;
      opacity: 0;
      animation-delay: calc(0.5s * (var(--index) + 1)); // Apply the delay to all messages
      $delay: $delay + 2s; // Increment the delay for the next message
    }

    & .sent-msg {
      border-radius: 16px;
      background-color: #D5FFC5;
    }
    & .msg-box {
      position: relative;
      min-width: 155px;
      max-width: 330px;
      padding: 8px;
      display: flex;
      gap: 2px;
      flex-direction: column;
      & .msg{
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        word-wrap: break-word;
        white-space: pre-wrap;
      }

      & .msg-time {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 12px;
        color: #BABCBE;
        align-self: end;
        display: flex;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


