.chat-box-container{
  background-color:#EBF7FF;
  position: absolute;
  bottom: 0;
  width: 169px;

  & .chat-input{
    position: relative;

    & .emoji-btn{
      bottom: 10px;
      z-index: 1;
      position: absolute;
      left: 5px;
    }

    & .attachment-btn{
      z-index: 1;
      bottom: 10px;
      position: absolute;
      left: 105px;
    }
    & .on-input{
      left: 124px !important;
    }
    & .camera-btn{
      z-index: 1;
      top: 5px;
      position: absolute;
      left: 120px;
    }
    & textarea{
      padding-right: 20px;
      padding-left: 20px;
      position: relative;
      width: 100%;
      border: 0;
      border-radius: 16px;
      height: 21px;
      caret-color: #BABCBE;
      resize: none;
      overflow-y: scroll;
    }

    & textarea::placeholder{
      font-family: "Roboto", sans-serif;
      position: absolute;
      top: 3px;
      left: 20px;
      font-size: 11px;
      font-weight: 400;
      font-style: normal;
      color: #BABCBE;
    }

    & textarea:focus{
      outline: none;
    }
  }

  & .mic-btn{
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
  }
}